<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="web/redirect/bootstrap.php">
	<filter>
        <whitelist>
            <directory suffix=".php">Api</directory>
            <directory suffix=".php">Web</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="REST">
            <directory>Tests/Api</directory>
            <directory>Tests/Web</directory>
        </testsuite>
    </testsuites>
</phpunit>