<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="../web/Redirect/bootstrap.php">
	<filter>
        <whitelist>
            <directory>../api</directory>
            <directory>../web</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="REST">
            <directory>api</directory>
            <directory>web</directory>
        </testsuite>
    </testsuites>
</phpunit>